<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class = "logo_button">
                <a>
                    <img src = "" alt = "Logo"/>
                </a>

            </div>

        
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="timer.html">Study Session</a></li>
            </ul>

            <li class="acc"><a href="">Account</a></li>
            
        </nav>
    </header>




    <div class="home_row1">
        <div class="notepad_block">
            <img class="notepad_img" src="../static/images/notepad.png" alt="notepad">
            <h2 class="to_do_list">To-Do List</h2>
            <div class="notepad">
                
                <ul id="myList"></ul>

                <div class="input-row">
                    <span class="bullet">•</span>
                    <input type="text" id="itemInput" placeholder="Add new item" />
                </div>
                
            </div>

        </div>

        <div class="block2">
            <p>text</p>
        </div>

    </div>
    <script src="../static/js/random.js"></script>

</body>

</html>