<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class = "logo_button">
                <a>
                    <img src = "" alt = "Logo"/>
                </a>

            </div>

        </nav>
    </header>

    <div class="login">
        <h1>Login Or Sign Up</h1>

        <div class="login_box">
            <p>Username</p>
            <div class="username_box">text </div>
            <p>Password</p>
            <div class="password_box">text</div>
        </div>


    </div>
</body>
</html>